body {
  background: #fffcf6;
}

section.header .content {
  margin-left: 1rem;
}

section.main .content .markdown pre {
  padding: 0 !important;
}
section.main .content .markdown pre code {
  padding: 0.5rem;
}

section.main .content .markdown figure {
  background: transparent;
}